Repository learning-unlimited/ESP-Website, pull requests merged in 2018-04, with the labels that each got.

#2432 Front end for resource type choices
  esp/esp/program/controllers/resources.py
  esp/esp/program/modules/forms/resources.py
  esp/esp/program/modules/handlers/resourcemodule.py
  esp/templates/program/modules/resourcemodule/resource_types.html
  esp/templates/program/modules/resourcemodule/restype_delete.html
Labels: Front End, Resources

#2539 Functionality to scan barcodes with device's camera
  esp/templates/program/modules/onsitecheckinmodule/barcodecheckin.html
Labels: Onsite

#2549 Fix HTML formatting / Unicode bug in sending e-mails.
  esp/esp/program/modules/handlers/programprintables.py
Labels: Email (built-in)

#2562 Check in student immediately upon scanning
  docs/admin/releases/11/README.rst
  esp/esp/program/modules/handlers/onsitecheckinmodule.py
  esp/templates/program/modules/onsitecheckinmodule/barcodecheckin.html
Labels: Onsite
