Repository learning-unlimited/ESP-Website, pull requests merged in 2019-10, with the labels that each got.

#2807 Optionally skip texting coteachers of checked in classes
  esp/public/media/scripts/onsite/teacher_checkin.js
  esp/templates/program/modules/teachercheckinmodule/missingteachers.html
Labels: Onsite

#2801 Generic program links for most recent/current program
  esp/esp/context_processors.py
  esp/esp/web/views/main.py
Labels: Feature Request, Student Registration, Teacher Registration, Volunteers

#2809 Add option to include unreviewed classes in scheduling diagnostics
  esp/esp/program/modules/handlers/schedulingcheckmodule.py
  esp/templates/program/modules/schedulingcheckmodule/output.html
Labels: Teacher Registration

#2806 Required fields bug
  esp/esp/users/forms/user_profile.py
  esp/templates/users/profiles/studentinfo.html
  esp/templates/users/profiles/teacherinfo.html
  esp/templates/users/profiles/usercontact.html
Labels: Profiles

#2810 Usersearch sort and include last program
  esp/esp/program/views.py
  esp/templates/users/userview_search.html
Labels: UserInterface, Userview

#2814 Autoescape off for cancellation emails
  esp/templates/email/class_cancellation.txt
  esp/templates/email/class_cancellation_admin.txt
  esp/templates/email/class_cancellation_teacher.txt
Labels: Email (built-in)

#2813 Add teacher fields to arbitrary user list
  esp/esp/program/modules/handlers/listgenmodule.py
Labels: UserSearchController

#2803 Remove phase zero from checkboxes, simplify template handling
  esp/esp/program/modules/handlers/studentregphasezero.py
  esp/templates/program/modules/studentregphasezero/confirmation.html
  esp/templates/program/modules/studentregphasezero/notyet.html
  esp/templates/program/modules/studentregphasezero/sorry.html
Labels: Student Registration

#2821 Fix manage///surveys/top_classes
  esp/esp/survey/views.py
Labels: Student Registration

#2824 Show room requests in scheduler
  esp/esp/program/modules/handlers/jsondatamodule.py
  esp/public/media/scripts/ajaxschedulingmodule/ESP/Cell.js
  esp/public/media/scripts/ajaxschedulingmodule/ESP/SectionInfoPanel.js
Labels: AJAX Scheduler

#2822 Extend background on userview
  esp/templates/users/userview.html
Labels: UserInterface, Userview
