Repository learning-unlimited/ESP-Website, pull requests merged in 2020-10, with the labels that each got.

#3116 Add grant amount/percent fields to finaid approval form
  esp/esp/accounting/models.py
  esp/esp/program/modules/handlers/finaidapprovemodule.py
  esp/templates/program/modules/finaidapprovemodule/finaid.html
Labels: Accounting, Student Registration

#3118 Add more shirt stats
  esp/esp/program/models/__init__.py
  esp/esp/program/modules/handlers/jsondatamodule.py
  esp/public/media/scripts/program/modules/adminvitals.js
Labels: Dashboard, Student Registration, Teacher Registration, Volunteers

#3128 Tag implementation improvements
  docs/dev/tags.rst
  esp/esp/program/controllers/autoscheduler/db_interface.py
  esp/esp/program/forms.py
  esp/esp/program/models/__init__.py
  esp/esp/program/models/class_.py
  esp/esp/program/modules/forms/admincore.py
  esp/esp/program/modules/forms/resources.py
  esp/esp/program/modules/forms/splashinfo.py
  esp/esp/program/modules/forms/teacherreg.py
  esp/esp/program/modules/forms/volunteer.py
  esp/esp/program/modules/handlers/adminclass.py
  esp/esp/program/modules/handlers/admincore.py
  esp/esp/program/modules/handlers/availabilitymodule.py
  esp/esp/program/modules/handlers/creditcardmodule_stripe.py
  esp/esp/program/modules/handlers/customformmodule.py
  esp/esp/program/modules/handlers/donationmodule.py
  esp/esp/program/modules/handlers/jsondatamodule.py
  esp/esp/program/modules/handlers/onsiteclasslist.py
  esp/esp/program/modules/handlers/programprintables.py
  esp/esp/program/modules/handlers/resourcemodule.py
  esp/esp/program/modules/handlers/schedulingcheckmodule.py
  esp/esp/program/modules/handlers/splashinfomodule.py
  esp/esp/program/modules/handlers/studentclassregmodule.py
  esp/esp/program/modules/handlers/studentonsite.py
  esp/esp/program/modules/handlers/studentregphasezero.py
  esp/esp/program/modules/handlers/studentregphasezeromanage.py
  esp/esp/program/modules/handlers/studentregtwophase.py
  esp/esp/program/modules/handlers/studentsurveymodule.py
  esp/esp/program/modules/handlers/teacherclassregmodule.py
  esp/esp/program/modules/handlers/teacheronsite.py
  esp/esp/program/modules/handlers/teacherquizmodule.py
  esp/esp/program/modules/handlers/teachersurveymodule.py
  esp/esp/program/modules/handlers/volunteersignup.py
  esp/esp/program/templatetags/class_render.py
  esp/esp/program/templatetags/class_render_row.py
  esp/esp/program/views.py
  esp/esp/qsd/templatetags/render_qsd.py
  esp/esp/random/views.py
  esp/esp/resources/models.py
  esp/esp/survey/models.py
  esp/esp/survey/views.py
  esp/esp/tagdict/__init__.py
  esp/esp/tagdict/models.py
  esp/esp/tagdict/tests.py
  esp/esp/themes/forms.py
  esp/esp/users/forms/__init__.py
  esp/esp/users/forms/user_profile.py
  esp/esp/users/models/__init__.py
  esp/esp/users/tests.py
  esp/esp/users/views/registration.py
  esp/esp/web/views/main.py
  esp/esp/web/views/myesp.py
Labels: ArchitecturalChange, UserInterface

#3129 Add public view for emails marked as public
  esp/esp/dbmail/admin.py
  esp/esp/dbmail/migrations/0003_messagerequest_public.py
  esp/esp/dbmail/models.py
  esp/esp/program/modules/handlers/commmodule.py
  esp/esp/urls.py
  esp/esp/web/views/main.py
  esp/templates/admin/emails.html
  esp/templates/program/modules/commmodule/finished.html
  esp/templates/program/modules/commmodule/preview.html
  esp/templates/program/modules/commmodule/step2.html
  esp/templates/public_email.html
Labels: Email (built-in), UserInterface

#3134 Upgrade pillow to latest that supports python 2.7 (6.2.2)
  esp/requirements.txt
Labels: dependencies

#3133 upgrade psycopg2 to latest (2.8.6)
  esp/requirements.txt
Labels: dependencies

#3137 Upgrade numpy to 1.16.6
  esp/esp/program/controllers/classchange.py
  esp/esp/program/controllers/lottery.py
  esp/esp/program/controllers/studentregsanity.py
  esp/esp/program/modules/handlers/lotteryfrontendmodule.py
  esp/esp/program/modules/handlers/schedulingcheckmodule.py
  esp/requirements.txt
Labels: dependencies
