Repository learning-unlimited/ESP-Website, pull requests merged in 2020-06, with the labels that each got.

#3017 Removed the reference to ESP
  esp/esp/web/forms/contact_form.py
Labels: UserInterface

#3015 Add terms of service links to all themes
  esp/esp/themes/theme_data/bigpicture/templates/users/loginbox_content.html
  esp/esp/themes/theme_data/circles/templates/users/loginbox_content.html
  esp/esp/themes/theme_data/fruitsalad/templates/main.html
  esp/templates/registration/newuser.html
  esp/templates/users/loginbox_content.html
Labels: Themes

#3012 Add resource checkout to /missingteachers
  esp/esp/program/models/__init__.py
  esp/esp/program/modules/handlers/resourcemodule.py
  esp/esp/program/modules/handlers/teachercheckinmodule.py
  esp/esp/resources/admin.py
  esp/esp/resources/migrations/0006_resourceassignment_returned.py
  esp/esp/resources/migrations/0007_auto_20200608_1929.py
  esp/esp/resources/models.py
  esp/public/media/default_styles/assignments.css
  esp/public/media/default_styles/flags.css
  esp/public/media/scripts/onsite/assignment-edit.js
  esp/public/media/scripts/onsite/teacher_checkin.js
  esp/templates/program/modules/classflagmodule/new_flag_form.html
  esp/templates/program/modules/resourcemodule/assignment_name.html
  esp/templates/program/modules/resourcemodule/new_assignment_form.html
  esp/templates/program/modules/teachercheckinmodule/missingteachers.html
Labels: Onsite, Resources, Teacher Registration

#2998 Fix and unify section capacity calculation
  esp/esp/program/models/class_.py
  esp/esp/program/modules/handlers/onsiteclasslist.py
  esp/public/media/scripts/onsite/ajax_status.js
Labels: Onsite

#3021 Add functionality to manage.py update
  Makefile
  esp/esp/utils/management/commands/update.py
Labels: Infrastructure, Server setup

#1528 Improvements to StudentExtraCosts and DonationModule
  esp/esp/accounting/controllers.py
  esp/esp/accounting/migrations/0010_lineitemoptions_is_custom.py
  esp/esp/accounting/migrations/0011_auto_20200614_1216.py
  esp/esp/accounting/models.py
  esp/esp/program/modules/handlers/creditcardmodule_stripe.py
  esp/esp/program/modules/handlers/donationmodule.py
  esp/esp/program/modules/handlers/studentextracosts.py
  esp/esp/program/modules/tests/studentreg.py
  esp/esp/utils/widgets.py
  esp/public/media/scripts/jquery-ui.js
  esp/templates/program/modules/creditcardmodule_stripe/cardpay.html
  esp/templates/program/modules/donationmodule/donation.html
  esp/templates/program/modules/donationmodule/donation_form.html
  esp/templates/program/modules/studentextracosts/extracosts.html
Labels: Accounting, UserInterface

#3022 Clean up onsite attendance UI
  esp/templates/program/modules/onsiteattendance/attendance.html
  esp/templates/program/modules/teacherclassregmodule/section_attendance.html
Labels: Front End, UserInterface

#2857 SR12 Documentation
  docs/admin/program_modules.rst
  docs/admin/releases/12/README.rst
  docs/admin/releases/README.rst
Labels: Documentation, Work in progress

#3039 Finaid modules automatic
  esp/esp/program/forms.py
  esp/public/media/scripts/program/modules/modulequestions.js
Labels: Program Modules
