Repository learning-unlimited/ESP-Website, pull requests merged in 2020-09, with the labels that each got.

#3104 Check for payment, not amount due, on extracosts/donation
  esp/esp/program/modules/handlers/donationmodule.py
  esp/esp/program/modules/handlers/studentextracosts.py
  esp/esp/program/modules/handlers/studentregcore.py
Labels: Accounting

#3100 Django 1.11
  esp/esp/customforms/views.py
  esp/esp/db/forms.py
  esp/esp/db/views.py
  esp/esp/dbmail/models.py
  esp/esp/django_settings.py
  esp/esp/middleware/esperrormiddleware.py
  esp/esp/middleware/threadlocalrequest.py
  esp/esp/program/forms.py
  esp/esp/program/migrations/0018_auto_20200828_1641.py
  esp/esp/program/models/__init__.py
  esp/esp/program/models/class_.py
  esp/esp/program/modules/forms/admincore.py
  esp/esp/program/modules/handlers/admincore.py
  esp/esp/program/modules/handlers/studentregcore.py
  esp/esp/program/modules/tests/admincore.py
  esp/esp/program/modules/tests/regprofilemodule.py
  esp/esp/program/setup.py
  esp/esp/program/tests.py
  esp/esp/program/views.py
  esp/esp/qsd/templatetags/render_qsd.py
  esp/esp/settings.py
  esp/esp/survey/views.py
  esp/esp/themes/management/commands/recompile_theme.py
  esp/esp/themes/tests.py
  esp/esp/urls.py
  esp/esp/users/migrations/0019_auto_20200828_1517.py
  esp/esp/users/models/__init__.py
  esp/esp/utils/management/commands/clean_pyc.py
  esp/esp/utils/management/commands/flushcache.py
  esp/esp/utils/management/commands/install.py
  esp/esp/utils/management/commands/update.py
  esp/esp/utils/web.py
  esp/esp/utils/widgets.py
  esp/requirements.txt
  esp/templates/django/forms/widgets/blankselect.html
  esp/templates/django/forms/widgets/choicewithother.html
  esp/templates/django/forms/widgets/datetimepicker.html
  esp/templates/program/modules/teacherclassregmodule/classedit.html
  esp/templates/program/modules/teacherclassregmodule/classreg_email
  esp/templates/users/profile.html
  esp/useful_scripts/diff_overrides.py
Labels: Future Django, dependencies

#3111 Fix profile form when morphed as a teacher
  esp/esp/users/forms/user_profile.py
Labels: Forms, Profiles, Teacher Registration

#3110 Filter listgen fields based on recipient type
  esp/esp/program/modules/handlers/listgenmodule.py
  esp/public/media/scripts/commpanel.js
  esp/templates/program/modules/listgenmodule/options.html
  esp/templates/users/usersearch/list_selector.html
Labels: UserSearchController

#3099 Add scheduled stats to dashboard
  esp/esp/program/modules/handlers/jsondatamodule.py
Labels: Dashboard

#3112 Generate map of users
  esp/esp/program/modules/handlers/mapgenmodule.py
  esp/esp/program/modules/migrations/0024_mapgenmodule.py
  esp/public/media/data/zipcode-data-2018.csv
  esp/templates/program/modules/mapgenmodule/map.html
  esp/templates/program/modules/mapgenmodule/search.html
Labels: Front End, Javascript, Printables, UserSearchController

#3113 Improve teacher checkin search
  esp/public/media/default_styles/missingteachers.css
  esp/public/media/scripts/onsite/teacher_checkin.js
  esp/templates/program/modules/teachercheckinmodule/missingteachers.html
Labels: Javascript, Onsite, Teacher Registration, UserInterface

#3115 Add isStep dependencies to some teacher and student modules
  esp/esp/program/modules/handlers/availabilitymodule.py
  esp/esp/program/modules/handlers/formstackmedliabmodule.py
  esp/esp/program/modules/handlers/studentextracosts.py
  esp/esp/program/modules/handlers/studentjunctionappmodule.py
  esp/esp/program/modules/handlers/studentlunchselection.py
  esp/esp/program/modules/handlers/teachereventsmodule.py
  esp/esp/program/modules/handlers/teacherquizmodule.py
Labels: Program Modules
