Repository learning-unlimited/ESP-Website, pull requests merged in 2020-08, with the labels that each got.

#3077 Make survey review pdf up to date with html version
  esp/templates/survey/answers.tex
  esp/templates/survey/review.tex
Labels: Front End, Surveys

#3072 Fix grade range popup
  esp/esp/program/modules/handlers/teacherclassregmodule.py
  esp/esp/program/modules/tests/teacherclassregmodule.py
  esp/public/media/scripts/program/modules/teacherclassregmodule.js
  esp/templates/program/modules/teacherclassregmodule/classedit.html
Labels: Teacher Registration

#3075 Updated format on the Theme Select Page
  esp/templates/themes/selector.html
Labels: Themes, UserInterface

#3058 Add links to comm panel, AUL, and group text module on /classsearch
  esp/esp/program/admin.py
  esp/esp/program/migrations/0017_regtype_defaults.py
  esp/esp/program/modules/handlers/classsearchmodule.py
  esp/public/media/scripts/commpanel.js
  esp/public/media/scripts/program/modules/classsearch.js
  esp/templates/program/modules/classsearchmodule/class_search.html
  esp/templates/users/usersearch/list_selector.html
Labels: Class Search, UserSearchController

#3076 Separate webapp tags
  docs/admin/program_modules.rst
  esp/esp/program/modules/handlers/studentonsite.py
  esp/esp/program/modules/handlers/teacheronsite.py
  esp/esp/tagdict/__init__.py
Labels: Student Registration, Teacher Registration, Webapp

#3079 Add flushcache option for fab manage
  esp/esp/utils/management/commands/flushcache.py
  esp/esp/utils/management/commands/update.py
Labels: Caching, Development

#3080 Updated sort function for rooms using a natural sorting method
  esp/esp/program/models/__init__.py
  esp/public/media/scripts/ajaxschedulingmodule/ESP/Matrix.js
Labels: AJAX Scheduler, Resources

#3073 Fix class and section status inconsistencies
  esp/esp/program/models/class_.py
  esp/esp/program/modules/handlers/teacherclassregmodule.py
  esp/esp/program/views.py
  esp/templates/inclusion/program/class_teacher_list_row.html
  esp/templates/program/modules/adminclass/manageclass.html
  esp/templates/program/modules/adminclass/manageclass_class_info.html
  esp/templates/users/userview_class_entry.html
Labels: Teacher Registration, UserInterface

#3071 Add student and teacher links to surveys
  esp/esp/program/modules/handlers/studentsurveymodule.py
  esp/esp/program/modules/handlers/surveymanagement.py
  esp/esp/program/modules/handlers/teacherclassregmodule.py
  esp/esp/program/modules/handlers/teachersurveymodule.py
  esp/esp/program/modules/migrations/0023_auto_20200730_2006.py
  esp/esp/program/templatetags/class_render_row.py
  esp/esp/survey/views.py
  esp/esp/tagdict/__init__.py
  esp/templates/inclusion/program/class_teacher_list_row.html
  esp/templates/program/modules/studentregcore/returnlink.html
  esp/templates/program/modules/surveymanagement/main.html
  esp/templates/program/modules/teacherclassregmodule/listclasses.html
  esp/templates/survey/choose_survey.html
  esp/templates/survey/survey.html
  esp/templates/survey/survey_form.html
Labels: Student Registration, Surveys, Teacher Registration

#3081 Re-render class changes grid when settings are changed
  esp/public/media/default_styles/onsite_ajax_status.css
  esp/public/media/scripts/onsite/ajax_status.js
Labels: Javascript, Onsite, UserInterface

#3083 Add dummy data for survey questions that need it
  esp/esp/program/modules/handlers/surveymanagement.py
  esp/templates/program/modules/surveymanagement/import.html
  esp/templates/program/modules/surveymanagement/manage.html
  esp/templates/survey/questions/favorite_class.html
Labels: Surveys, UserInterface

#3078 Send email when financial aid request is approved
  esp/esp/accounting/admin.py
  esp/esp/accounting/migrations/0012_auto_20200812_1128.py
  esp/esp/accounting/models.py
  esp/esp/program/admin.py
  esp/esp/program/models/__init__.py
  esp/esp/program/modules/handlers/finaidapprovemodule.py
  esp/esp/program/modules/handlers/financialaidappmodule.py
  esp/templates/program/modules/finaidapprovemodule/approval_email.txt
Labels: Accounting, Admin Panel, Student Registration

#3082 Make clicking class title more obvious on /missingteachers
  esp/public/media/default_styles/missingteachers.css
  esp/public/media/scripts/onsite/teacher_checkin.js
  esp/templates/program/modules/teachercheckinmodule/missingteachers.html
Labels: Onsite, UserInterface

#3084 Indicate which scheduling checks have content
  esp/public/media/default_styles/scheduling_checks.css
  esp/public/media/scripts/program/modules/scheduling_checks.jsx
Labels: UserInterface

#3052 Small fixes to program creation, admin manage, and resources pages
  esp/esp/program/modules/base.py
  esp/templates/program/modules/resourcemodule/resource_main.html
  esp/templates/program/newprogram.html
Labels: UserInterface

#3087 Add more info/links to /manageclass
  esp/templates/program/modules/adminclass/manageclass.html
Labels: Teacher Registration, UserInterface

#3089 Clean up directory and always check for views
  esp/public/media/default_styles/management.css
  esp/templates/program/modules/admincore/directory.html
Labels: Surveys, UserInterface

#3085 Ajax scheduler availability override improvements
  esp/public/media/scripts/ajaxschedulingmodule/ESP/ApiClient.js
  esp/public/media/scripts/ajaxschedulingmodule/ESP/SectionInfoPanel.js
  esp/public/media/scripts/ajaxschedulingmodule/ESP/Sections.js
  esp/templates/program/modules/ajaxschedulingmodule/ajax_scheduling.html
Labels: AJAX Scheduler, Javascript, UserInterface

#3090 touch esp.wsgi in manage.py update
  Makefile
  esp/esp/utils/management/commands/update.py
Labels: Development, Infrastructure, Server setup

#3091 Use webapp isfull conditions for grid based class changes
  esp/esp/program/models/class_.py
  esp/esp/program/modules/handlers/onsiteclasslist.py
  esp/public/media/scripts/onsite/ajax_status.js
Labels: Onsite

#3086 Fix asterisks when address not required
  esp/esp/users/forms/user_profile.py
Labels: Forms, Profiles, Teacher Registration

#3095 Fix class changes grid bugs
  esp/public/media/scripts/onsite/ajax_status.js
Labels: Javascript, Onsite, Student Registration

#3096 Make webapp attendance save automatically
  esp/public/media/default_styles/webapp.css
  esp/public/media/scripts/program/modules/attendance.js
  esp/templates/program/modules/teacheronsite/sectionroster.html
Labels: Javascript, Teacher Registration, Webapp

#3066 Docs for SR12 fixes release
  docs/admin/releases/12/README.rst
Labels: Documentation, Work in progress
