Repository learning-unlimited/ESP-Website, pull requests merged in 2020-07, with the labels that each got.

#3048 Add scary warning to tag settings page
  esp/templates/program/modules/admincore/tags.html
Labels: UserInterface

#3049 Update teacher onsite seq
  esp/esp/program/modules/handlers/teacheronsite.py
  esp/esp/program/modules/migrations/0022_change_teacheronsite_seq.py
Labels: Admin Panel, Program Modules

#3050 Add nametags link to printoptions
  esp/templates/program/modules/programprintables/options.html
Labels: Printables

#3055 Fix checkout all random student bug
  esp/esp/program/modules/handlers/onsitecheckoutmodule.py
Labels: Onsite

#3051 Fix nametag textFit
  esp/templates/program/modules/nametagmodule/ids.html
Labels: Printables

#3054 Fix flag active/inactive behavior
  esp/esp/program/modules/handlers/teachercheckinmodule.py
  esp/public/media/scripts/onsite/teacher_checkin.js
  esp/public/media/scripts/program/modules/flag-results-page.js
  esp/templates/program/modules/classflagmodule/flag_name.html
  esp/templates/program/modules/teachercheckinmodule/missingteachers.html
Labels: Onsite, Teacher Registration

#3056 Fix registered teachers line
  esp/esp/program/modules/handlers/teacherbigboardmodule.py
Labels: Teacher Registration

#3057 Update tags dev docs
  docs/dev/tags.rst
Labels: Documentation

#3064 Encode all classes spreadsheet text to ascii
  esp/esp/program/modules/handlers/programprintables.py
Labels: Printables

#3061 Update gitignore and add untracked scripts
  .gitignore
  esp/useful_scripts/crazy_excel_thing.py
  esp/useful_scripts/get_emails.py
  esp/useful_scripts/total_donation.py
Labels: Server setup

#3060 Fix table overflow and add links to userview on attendance page
  esp/templates/program/modules/onsiteattendance/attendance.html
Labels: Onsite, UserInterface

#3067 Add shirt and comment fields to volunteer form template
  esp/templates/program/modules/volunteersignup/signup.html
Labels: Forms, Volunteers

#3044 Updated survey format/presentation
  esp/esp/survey/templatetags/survey.py
  esp/templates/survey/questions/checkboxes.html
  esp/templates/survey/questions/favorite_class.html
  esp/templates/survey/questions/instruction_text.html
  esp/templates/survey/questions/labeled_numeric_rating.html
  esp/templates/survey/questions/long_answer.html
  esp/templates/survey/questions/multiple_choice.html
  esp/templates/survey/questions/numeric_rating.html
  esp/templates/survey/questions/short_answer.html
  esp/templates/survey/questions/yes-no_response.html
Labels: Surveys

#3065 Fix some survey bugs
  esp/esp/program/modules/forms/surveys.py
  esp/esp/program/modules/handlers/surveymanagement.py
  esp/templates/program/modules/surveymanagement/import.html
Labels: Surveys

#3069 Fix file upload URLs in custom forms
  esp/esp/customforms/forms.py
  esp/esp/customforms/linkfields.py
  esp/public/media/scripts/customforms_response.js
Labels: CustomForms

#3068 Attendance without form submission
  esp/esp/program/modules/handlers/teacherclassregmodule.py
  esp/public/media/scripts/program/modules/attendance.js
  esp/templates/program/modules/teacherclassregmodule/section_attendance.html
Labels: Feature Request, Onsite, UserInterface
