Repository learning-unlimited/ESP-Website, pull requests merged in 2020-05, with the labels that each got.

#2974 Remove classrooms imported message
  esp/templates/program/modules/resourcemodule/classrooms.html
Labels: Front End, Resources

#2976 Remove catalog deadline
  esp/esp/program/modules/handlers/studentclassregmodule.py
  esp/esp/program/setup.py
  esp/esp/users/models/__init__.py
Labels: Old/unused code, Student Registration

#2979 Credit Card Viewpay Fixes
  esp/esp/program/modules/handlers/creditcardviewer.py
  esp/esp/program/modules/migrations/0020_auto_20200503_1046.py
  esp/templates/program/modules/creditcardviewer/viewpay.html
Labels: Accounting, Front End, Student Registration

#2982 Add tags to change shirt size, shirt type, and food preference options
  esp/esp/program/migrations/0013_auto_20200503_1216.py
  esp/esp/program/models/__init__.py
  esp/esp/program/modules/forms/volunteer.py
  esp/esp/program/modules/handlers/adminvitals.py
  esp/esp/tagdict/__init__.py
  esp/esp/users/forms/user_profile.py
  esp/esp/users/migrations/0017_auto_20200503_1216.py
  esp/esp/users/models/__init__.py
  esp/esp/users/tests.py
Labels: Profiles, Student Registration, Teacher Registration, Volunteers

#2973 Phase zero graph
  esp/esp/program/modules/handlers/studentregphasezeromanage.py
  esp/templates/program/modules/bigboardmodule/bigboard.html
  esp/templates/program/modules/bigboardmodule/bigboard_graph.html
  esp/templates/program/modules/studentregphasezero/status.html
Labels: Front End, Student Registration

#2970 Onsite section attendance
  esp/esp/program/modules/handlers/onsiteattendance.py
  esp/esp/program/modules/handlers/teacherclassregmodule.py
  esp/templates/program/modules/onsiteattendance/attendance.html
  esp/templates/program/modules/teacherclassregmodule/section_attendance.html
Labels: Onsite

#2963 Manual phase zero lottery
  esp/esp/program/modules/handlers/listgenmodule.py
  esp/esp/program/modules/handlers/studentregphasezeromanage.py
  esp/templates/program/modules/studentregphasezero/status.html
Labels: Student Registration, UserSearchController

#2986 Webapp class changes based on enrollment vs program vs class attendance numbers
  esp/esp/program/migrations/0014_classsection_attending_students.py
  esp/esp/program/models/__init__.py
  esp/esp/program/models/class_.py
  esp/esp/program/modules/handlers/onsiteclasslist.py
  esp/esp/program/modules/handlers/studentregcore.py
  esp/esp/tagdict/__init__.py
  esp/public/media/scripts/onsite/ajax_status.js
Labels: Onsite, Webapp

#2941 Show all per class survey results for admins and add teacher search form
  esp/esp/db/forms.py
  esp/esp/db/views.py
  esp/esp/survey/views.py
  esp/esp/users/forms/generic_search_form.py
  esp/esp/users/models/__init__.py
  esp/templates/outlines/review_base.tex
  esp/templates/survey/answers.html
  esp/templates/survey/answers.tex
  esp/templates/survey/review.html
  esp/templates/survey/review.tex
Labels: Surveys, UserInterface

#2999 Move email schedule snippets to templates
  esp/esp/cal/models.py
  esp/esp/program/modules/handlers/programprintables.py
  esp/templates/program/modules/programprintables/studentschedule_email.html
  esp/templates/program/modules/programprintables/teacherschedule_email.html
  esp/templates/program/modules/programprintables/volunteerschedule_email.html
Labels: Email (built-in), Student Registration, Teacher Registration, Volunteers

#3001 Add filter for class registrations to UserSearchController
  esp/esp/program/modules/handlers/commmodule.py
  esp/esp/program/modules/handlers/grouptextmodule.py
  esp/esp/program/modules/handlers/listgenmodule.py
  esp/esp/users/controllers/usersearch.py
  esp/public/media/scripts/commpanel.js
  esp/templates/users/usersearch/list_selector.html
Labels: Email (built-in), UserSearchController

#2966 More tags to hide profile fields
  esp/esp/tagdict/__init__.py
  esp/esp/users/forms/user_profile.py
  esp/esp/users/models/__init__.py
  esp/esp/web/views/myesp.py
  esp/templates/users/profiles/educatorinfo.html
  esp/templates/users/profiles/emergencycontact.html
  esp/templates/users/profiles/guardiancontact.html
  esp/templates/users/profiles/guardianinfo.html
  esp/templates/users/profiles/studentinfo.html
  esp/templates/users/profiles/usercontact.html
Labels: Profiles

#2988 Split out surveys to independent section-specific and general components
  esp/esp/program/modules/handlers/studentonsite.py
  esp/esp/program/modules/handlers/teacheronsite.py
  esp/esp/program/modules/tests/survey.py
  esp/esp/survey/views.py
  esp/public/media/default_styles/webapp.css
  esp/templates/program/modules/studentonsite/schedule.html
  esp/templates/program/modules/studentonsite/sectioninfo.html
  esp/templates/program/modules/studentonsite/survey.html
  esp/templates/program/modules/teacheronsite/sectioninfo.html
  esp/templates/program/modules/teacheronsite/survey.html
  esp/templates/survey/completed_survey.html
  esp/templates/survey/survey.html
  esp/templates/survey/survey_form.html
Labels: Surveys, Webapp
