Repository learning-unlimited/ESP-Website, pull requests merged in 2020-03, with the labels that each got.

#2866 Teacher onsite webapp
  esp/esp/program/modules/handlers/teacherclassregmodule.py
  esp/esp/program/modules/handlers/teacheronsite.py
  esp/esp/survey/views.py
  esp/esp/users/models/__init__.py
  esp/public/media/default_styles/webapp.css
  esp/templates/program/modules/teacherclassregmodule/section_attendance.html
  esp/templates/program/modules/teacheronsite/map.html
  esp/templates/program/modules/teacheronsite/schedule.html
  esp/templates/program/modules/teacheronsite/sectioninfo.html
  esp/templates/program/modules/teacheronsite/sectionroster.html
  esp/templates/program/modules/teacheronsite/survey.html
  esp/templates/program/modules/teacheronsite/webapp.html
Labels: Onsite, Teacher Registration, Webapp

#2901 Clean up printables page
  esp/templates/program/modules/programprintables/options.html
Labels: Printables, UserInterface, Work in progress

#2932 Calculate survey participants based on new tags
  esp/esp/survey/models.py
  esp/esp/survey/views.py
Labels: Surveys

#2507 Student Onsite Webapp
  esp/esp/program/models/class_.py
  esp/esp/program/modules/handlers/studentclassregmodule.py
  esp/esp/program/modules/handlers/studentonsite.py
  esp/esp/program/modules/migrations/0018_studentonsite.py
  esp/esp/program/templatetags/class_render.py
  esp/esp/tagdict/__init__.py
  esp/esp/users/models/__init__.py
  esp/public/media/default_styles/webapp.css
  esp/templates/inclusion/program/class_catalog_webapp.html
  esp/templates/program/modules/studentonsite/catalog.html
  esp/templates/program/modules/studentonsite/map.html
  esp/templates/program/modules/studentonsite/schedule.html
  esp/templates/program/modules/studentonsite/survey.html
  esp/templates/program/modules/studentonsite/webapp.html
  esp/templates/program/modules/teacheronsite/survey.html
  esp/templates/survey/survey.html
Labels: Onsite, Student Registration, Webapp

#1772 Form to choose fields for all_classes.csv
  esp/esp/program/modules/handlers/programprintables.py
  esp/esp/program/modules/tests/programprintables.py
  esp/public/media/default_images/switch.png
  esp/public/media/default_styles/multiselect.css
  esp/public/media/scripts/jquery.multi-select.js
  esp/templates/program/modules/programprintables/all_classes_select_fields.html
Labels: Printables

#2923 Add django-admin-tools
  esp/admintoolsdash.py
  esp/admintoolsmenu.py
  esp/esp/django_settings.py
  esp/esp/settings.py
  esp/esp/urls.py
  esp/public/media/_versions/images/go1_big.gif
  esp/public/media/_versions/images/go1_large.gif
  esp/public/media/_versions/images/go1_medium.gif
  esp/public/media/_versions/images/go1_small.gif
  esp/public/media/_versions/images/go1_thumbnail.gif
  esp/public/media/default_styles/admin-tools.png
  esp/public/media/default_styles/admin_theme.css
  esp/requirements.txt
  esp/templates/admin/base_site.html
  esp/templates/admin/login.html
Labels: Admin Panel

#2929 Add UI for building surveys
  esp/esp/program/modules/forms/surveys.py
  esp/esp/program/modules/handlers/surveymanagement.py
  esp/esp/survey/migrations/0002_auto_20200301_1048.py
  esp/esp/survey/models.py
  esp/public/media/default_styles/survey_manage.css
  esp/public/media/scripts/expand_display.js
  esp/public/media/scripts/program/modules/survey_manage.js
  esp/templates/program/modules/surveymanagement/create.html
  esp/templates/program/modules/surveymanagement/edit.html
  esp/templates/program/modules/surveymanagement/import.html
  esp/templates/program/modules/surveymanagement/main.html
  esp/templates/program/modules/surveymanagement/manage.html
  esp/templates/program/modules/surveymanagement/question_delete.html
  esp/templates/program/modules/surveymanagement/survey_delete.html
  esp/templates/survey/questions/favorite_class.html
  esp/templates/survey/questions/instruction_text.html
  esp/templates/survey/questions/labeled_numeric_rating.html
  esp/templates/survey/questions/long_answer.html
  esp/templates/survey/questions/numeric_rating.html
Labels: Surveys, UserInterface
