Repository learning-unlimited/ESP-Website, pull requests merged in 2020-02, with the labels that each got.

#2905 HTML Barcodes on back of nametags
  esp/esp/program/modules/handlers/nametagmodule.py
  esp/public/media/scripts/nametag_barcodes.js
  esp/templates/program/modules/nametagmodule/ids.html
  esp/templates/program/modules/nametagmodule/selectoptions.html
  esp/templates/program/modules/nametagmodule/singleidback.html
Labels: Printables

#2914 Barebones and Bigpicture Theme Fix
  esp/esp/themes/theme_data/barebones/templates/sidebar/admin.html
  esp/esp/themes/theme_data/bigpicture/templates/sidebar/admin.html
Labels: Themes

#2912 Add emailcode to subject line for class/section lists
  esp/esp/dbmail/receivers/classlist.py
  esp/esp/dbmail/receivers/sectionlist.py
  esp/mailgates/mailgate.py
Labels: Email (built-in)

#2915 Fixed Header for Fruit Salad Theme
  esp/esp/themes/theme_data/fruitsalad/less/main.less
  esp/templates/users/loginbox_userinfo.html
Labels: Themes

#2913 Form to change start_date on /manage/emails
  esp/esp/program/views.py
  esp/templates/admin/emails.html
  esp/templates/program/manage_programs.html
Labels: Email (built-in)

#2903 Onsite checkout module
  esp/esp/program/modules/handlers/onsitecheckoutmodule.py
  esp/esp/program/modules/handlers/studentclassregmodule.py
  esp/esp/users/models/__init__.py
  esp/templates/program/modules/onsitecheckinmodule/ajaxcheckin.html
  esp/templates/program/modules/onsitecheckoutmodule/checkout.html
Labels: Onsite, Student Registration, Work in progress

#2921 Fix moving classes vertically in the scheduler
  esp/esp/program/models/class_.py
Labels: AJAX Scheduler

#2916 User Interface for Tags
  esp/esp/program/forms.py
  esp/esp/program/models/__init__.py
  esp/esp/program/modules/forms/admincore.py
  esp/esp/program/modules/forms/splashinfo.py
  esp/esp/program/modules/forms/volunteer.py
  esp/esp/program/modules/handlers/admincore.py
  esp/esp/program/modules/handlers/programprintables.py
  esp/esp/program/modules/handlers/splashinfomodule.py
  esp/esp/program/urls.py
  esp/esp/program/views.py
  esp/esp/tagdict/__init__.py
  esp/esp/tagdict/tests.py
  esp/esp/users/forms/user_profile.py
  esp/esp/users/models/__init__.py
  esp/templates/program/manage_programs.html
  esp/templates/program/modules/admincore/directory.html
  esp/templates/program/modules/admincore/settings.html
  esp/templates/program/modules/admincore/tags.html
Labels: UserInterface

#2925 Support recurring classes for attendance
  esp/esp/program/modules/handlers/onsiteattendance.py
  esp/esp/program/modules/handlers/teacherclassregmodule.py
  esp/templates/program/modules/onsiteattendance/attendance.html
  esp/templates/program/modules/teacherclassregmodule/section_attendance.html
Labels: Onsite
