Repository learning-unlimited/ESP-Website, pull requests merged in 2020-01, with the labels that each got.

#2850 Class flags printable
  esp/esp/program/modules/handlers/programprintables.py
  esp/templates/program/modules/classsearchmodule/class_search.html
  esp/templates/program/modules/programprintables/classes_flags.html
  esp/templates/program/modules/programprintables/options.html
Labels: Class Search, ClassFlags, Printables

#2870 Sorttable fix
  esp/public/media/scripts/sorttable.js
  esp/templates/program/modules/adminclass/listclasses.html
Labels: Dashboard, Error

#2868 Student attendance (teacher and admin interfaces)
  esp/esp/cal/models.py
  esp/esp/program/modules/handlers/onsiteattendance.py
  esp/esp/program/modules/handlers/teacherclassregmodule.py
  esp/esp/users/templatetags/__init__.py
  esp/esp/users/templatetags/users.py
  esp/public/media/default_styles/barcodescanner.css
  esp/public/media/scripts/barcodescanner.js
  esp/public/media/scripts/commpanel.js
  esp/templates/inclusion/program/class_teacher_list_row.html
  esp/templates/program/modules/onsiteattendance/attendance.html
  esp/templates/program/modules/onsitecheckinmodule/barcodecheckin.html
  esp/templates/program/modules/teacherclassregmodule/section_attendance.html
Labels: Onsite, Teacher Registration

#2853 Unschedule sections in classrooms that are being deleted
  esp/esp/program/controllers/resources.py
Labels: Resources

#2859 Allow for overriding teacher availability in scheduler
  esp/esp/program/modules/handlers/ajaxschedulingmodule.py
  esp/esp/program/modules/handlers/jsondatamodule.py
  esp/esp/program/modules/tests/ajaxschedulingmodule.py
  esp/esp/program/modules/tests/support/program_manager.py
  esp/public/media/scripts/ajaxschedulingmodule/ESP/ApiClient.js
  esp/public/media/scripts/ajaxschedulingmodule/ESP/Sections.js
  esp/templates/program/modules/ajaxschedulingmodule/ajax_scheduling.html
Labels: AJAX Scheduler

#2860 Get program-specific grades in templates
  esp/esp/program/modules/handlers/adminreviewapps.py
  esp/esp/program/modules/handlers/programprintables.py
  esp/templates/program/modules/adminreviewapps/app_popup.html
  esp/templates/program/modules/adminreviewapps/review.html
  esp/templates/program/modules/adminreviewapps/roster.html
  esp/templates/program/modules/programprintables/classattend.html
  esp/templates/program/modules/programprintables/classchecklist.html
  esp/templates/program/modules/programprintables/classroster.html
  esp/templates/program/modules/programprintables/studentlist.html
  esp/templates/program/modules/programprintables/studentreceipt.html
  esp/templates/program/modules/studentregphasezero/confirmation.html
  esp/templates/program/modules/studentregphasezero/status.html
  esp/templates/program/modules/teacherclassregmodule/class_students.html
  esp/templates/program/modules/teacherreviewapps/review.html
  esp/templates/program/modules/teacherreviewapps/roster.html
  esp/templates/users/userview.html
Labels: Technical Debt

#2867 Move grade change request link and change conditions for inclusion in profile form
  esp/esp/web/views/myesp.py
  esp/templates/users/profile.html
  esp/templates/users/profiles/studentinfo.html
Labels: Profiles, Student Registration, UserInterface

#2844 Add flag, resource, and admin class filters to scheduler
  esp/esp/program/modules/handlers/jsondatamodule.py
  esp/public/media/default_styles/scheduling.css
  esp/public/media/scripts/ajaxschedulingmodule/ESP/Sections.js
  esp/templates/program/modules/ajaxschedulingmodule/ajax_scheduling.html
Labels: AJAX Scheduler, ClassFlags, Resources

#2865 Fix onsite mainpage to reflect enabled modules
  esp/esp/program/modules/handlers/onsiteclasslist.py
  esp/templates/program/modules/onsitecore/mainpage.html
Labels: Onsite, Program Modules, UserInterface

#2861 Remove unscheduled sections and classes with no sections to show from two-phase reg
  esp/public/media/scripts/catalog-new.js
Labels: Student Registration, Two Phase Lottery UI

#2871 Make users eligible for surveys (and associated errors) more specific
  esp/esp/survey/views.py
  esp/esp/tagdict/__init__.py
Labels: Student Registration, Surveys, Teacher Registration

#2872 "View on site" links in admins pages for user-related models
  esp/esp/users/models/__init__.py
Labels: Admin Panel, Userview

#2900 Fix profile form errors for admins
  esp/esp/tagdict/__init__.py
  esp/esp/users/forms/user_profile.py
  esp/esp/web/views/myesp.py
  esp/templates/users/profiles/gradechangerequestinfo.html
  esp/templates/users/profiles/studentinfo.html
Labels: Profiles, Student Registration

#2816 Add UI for program, crmi, and scrmi settings
  esp/esp/program/modules/forms/admincore.py
  esp/esp/program/modules/handlers/admincore.py
  esp/templates/program/modules/admincore/settings.html
Labels: UserInterface

#2862 Use UserSearchController in nametags
  esp/esp/program/modules/handlers/nametagmodule.py
  esp/templates/program/modules/nametagmodule/selectoptions.html
Labels: Printables
