Repository learning-unlimited/ESP-Website, pull requests merged in 2020-04, with the labels that each got.

#2942 Class edit form width
  esp/templates/program/modules/teacherclassregmodule/classedit.html
  esp/templates/program/modules/teacherpreviewmodule/preview.html
Labels: UserInterface

#2944 Remove old survey copy option from admin pages
  esp/esp/survey/admin.py
Labels: Admin Panel, Surveys

#2943 Show all possible choices for all countable survey question results
  esp/esp/survey/templatetags/survey.py
  esp/templates/survey/answers.html
Labels: Surveys

#2945 Remodel class changes grid to show section lengths
  esp/esp/program/modules/handlers/onsiteclasslist.py
  esp/public/media/default_styles/onsite_ajax_status.css
  esp/public/media/scripts/onsite/ajax_status.js
  esp/templates/program/modules/onsiteclasslist/ajax_status.html
Labels: Front End, Javascript, Onsite, UserInterface

#2935 Use checked out records
  esp/esp/program/models/__init__.py
  esp/esp/program/modules/handlers/onsiteattendance.py
  esp/esp/program/modules/handlers/onsitecheckinmodule.py
  esp/esp/program/modules/handlers/onsitecheckoutmodule.py
  esp/esp/program/modules/handlers/onsiteclasslist.py
  esp/esp/program/modules/handlers/studentregcore.py
  esp/esp/program/modules/handlers/teacherclassregmodule.py
  esp/templates/program/modules/onsitecheckinmodule/checkin.html
Labels: Onsite

#2957 Remove onsite status page
  esp/esp/program/modules/handlers/onsiteclasslist.py
  esp/templates/program/modules/onsiteclasslist/status.html
Labels: Old/unused code, Onsite

#2960 Allow for different lottery group sizes
  esp/esp/program/modules/handlers/studentregphasezero.py
  esp/esp/tagdict/__init__.py
  esp/templates/program/modules/studentregphasezero/confirmation.html
  esp/templates/program/modules/studentregphasezero/submit.html
Labels: Student Registration

#2958 Fix teacher_profile_hide_fields tag problems
  esp/esp/users/forms/user_profile.py
  esp/templates/users/profiles/teacherinfo.html
Labels: Profiles, Teacher Registration

#2962 Fix setting and handling of numeric tags
  esp/esp/program/modules/handlers/studentregtwophase.py
  esp/esp/tagdict/__init__.py
Labels: Student Registration, Two Phase Lottery UI
