Repository learning-unlimited/ESP-Website, pull requests merged in 2021-08, with the labels that each got.

#3387 Fix fruitsalad tabs for long text
  esp/esp/themes/theme_data/fruitsalad/less/main.less
Labels: Themes, UserInterface

#3385 Cache the emails view
  esp/esp/program/views.py
Labels: UserInterface, Caching

#3382 Add many filter options to classsearch
  esp/esp/program/models/__init__.py
  esp/esp/program/modules/handlers/classsearchmodule.py
  esp/esp/utils/query_builder.py
Labels: Class Search

#3383 Fix scheduler message panel
  esp/public/media/default_styles/scheduling.css
  esp/public/media/scripts/ajaxschedulingmodule/ESP/MessagePanel.js
  esp/public/media/scripts/ajaxschedulingmodule/ESP/Moderators.js
  esp/public/media/scripts/ajaxschedulingmodule/ESP/Sections.js
  esp/templates/program/modules/ajaxschedulingmodule/ajax_scheduling.html
Labels: Error, UserInterface, AJAX Scheduler

#3390 Check if a teacher is available for scheduled times before adding them as a coteacher
  esp/esp/program/modules/handlers/adminclass.py
  esp/esp/program/modules/handlers/teacherclassregmodule.py
  esp/templates/program/modules/adminclass/coteachers.html
  esp/templates/program/modules/teacherclassregmodule/coteachers.html
Labels: Teacher Registration

#3388 Fix theme palette management
  esp/esp/themes/controllers.py
  esp/esp/themes/views.py
  esp/public/media/theme_editor/theme_editor.js
  esp/templates/themes/editor.html
Labels: UserInterface, Themes, Javascript, dependencies

#3396 Keep tfoot "headers" from being included in sorttable.js
  esp/templates/program/modules/teacherclassregmodule/section_attendance.html
  esp/templates/program/modules/teacheronsite/sectionroster.html
Labels: Error, UserInterface, Javascript

#3397 More sorttable fixes
  esp/public/media/scripts/sorttable.js
  esp/templates/program/modules/onsiteattendance/attendance.html
  esp/templates/program/modules/teacherclassregmodule/section_attendance.html
Labels: UserInterface, Javascript

#3384 Mass deactivation module
  esp/esp/program/modules/handlers/commmodule.py
  esp/esp/program/modules/handlers/deactivationmodule.py
  esp/esp/program/modules/migrations/0031_deactivationmodule.py
  esp/esp/users/views/usersearch.py
  esp/templates/program/modules/commmodule/commpanel_new.html
  esp/templates/program/modules/deactivationmodule/finished.html
  esp/templates/program/modules/deactivationmodule/options.html
  esp/templates/program/modules/deactivationmodule/search.html
  esp/templates/users/userchecklist.html
Labels: UserSearchController, Program Modules

#3391 Redesign of the deadline management page
  esp/esp/program/modules/handlers/admincore.py
  esp/esp/program/modules/handlers/studentregphasezero.py
  esp/esp/users/models/__init__.py
  esp/esp/users/templatetags/users.py
  esp/public/media/default_styles/deadlines.css
  esp/templates/program/modules/admincore/deadlines.html
Labels: UserInterface, Permissions

#3386 Exclude cancelled classes for some things
  esp/esp/program/models/class_.py
  esp/esp/program/modules/handlers/availabilitymodule.py
  esp/esp/users/models/__init__.py
Labels: Teacher Registration

#3393 Make resource form fields have unique ids
  esp/esp/program/modules/handlers/resourcemodule.py
  esp/public/media/scripts/program/modules/resources.js
Labels: Resources

#3392 Add moderator check
  esp/esp/program/modules/handlers/schedulingcheckmodule.py
Labels: Moderators

#3399 Student big board upgrades
  esp/esp/program/modules/handlers/bigboardmodule.py
  esp/public/media/default_styles/bigboard.css
  esp/templates/program/modules/bigboardmodule/bigboard.html
Labels: UserInterface, Student Registration, Javascript

#3400 Remove TextMessageModule
  docs/admin/program_modules.rst
  esp/esp/program/modules/handlers/textmessagemodule.py
  esp/esp/program/modules/migrations/0032_delete_textmessagemodule.py
  esp/templates/program/modules/textmessagemodule/textmessage.html
Labels: Program Modules, Deprecated (discussion)

#3401 Add enrollment and attendance plots to hours statistics query
  esp/esp/program/statistics.py
  esp/esp/users/models/__init__.py
  esp/templates/program/statistics/hours.html
Labels: UserInterface, Student Registration, Javascript

#3402 Add confirm page for volunteer shift import
  esp/esp/program/modules/handlers/volunteermanage.py
  esp/templates/program/modules/volunteermanage/import.html
Labels: UserInterface, Volunteers
