Repository learning-unlimited/ESP-Website, pull requests merged in 2021-05, with the labels that each got.

#3278 Use labels for ajax scheduler scheduling checks
  esp/templates/program/modules/ajaxschedulingmodule/ajax_scheduling.html
Labels: AJAX Scheduler

#3252 Made onsite buttons
  esp/esp/program/modules/base.py
  esp/esp/program/modules/handlers/onsiteclasslist.py
  esp/templates/program/modules/onsitecore/mainpage.html
Labels: UserInterface

#3287 Fixes for debug toolbar 1.11.1
  esp/esp/django_settings.py
  esp/esp/middleware/debugtoolbar/middleware.py
Labels: Development, dependencies

#3288 Add student search form to accounting module
  esp/esp/program/modules/handlers/accountingmodule.py
  esp/templates/program/modules/accountingmodule/accounting.html
Labels: Accounting, Forms, UserInterface

#3292 Fix button color
  esp/public/media/theme_editor/less/buttons.less
  esp/public/media/theme_editor/themes/Default.less
Labels: Themes

#3289 Add module name to usersearch page
  esp/esp/program/modules/handlers/adminmorph.py
  esp/esp/program/modules/handlers/onsitecheckinmodule.py
  esp/esp/program/modules/handlers/onsiteclassschedule.py
  esp/esp/program/modules/handlers/onsitepaiditemsmodule.py
  esp/esp/program/modules/handlers/onsiteprintschedules.py
  esp/esp/program/modules/handlers/programprintables.py
  esp/templates/users/usersearch.html
Labels: UserInterface

#3279 Add enrollment limit options to class lottery
  esp/esp/program/controllers/lottery.py
Labels: Student Registration

#3305 Fix class info dropdown and spacing on /missingteachers
  esp/templates/program/modules/teachercheckinmodule/missingteachers.html
Labels: Onsite

#3306 Fix review_single survey links
  esp/esp/survey/templatetags/survey.py
  esp/templates/survey/answers.html
  esp/templates/survey/review.html
Labels: Surveys

#3315 Add times/dates to the section cancellation form
  esp/esp/program/modules/forms/management.py
Labels: Forms, UserInterface

#3293 Fixes Class Seach on Big Picture
  esp/esp/themes/theme_data/bigpicture/less/main.less
Labels: Themes

#3319 Fix spacing and alignment within login/logout bar in bigpicture
  esp/esp/themes/theme_data/bigpicture/less/main.less
Labels: Themes

#3321 Fix student lottery and classes scheduled statistics
  esp/esp/program/statistics.py
Labels: Student Registration, Teacher Registration, UserInterface

#3322 Add moderators to onsite attendance
  esp/templates/program/modules/onsiteattendance/attendance.html
Labels: Moderators, Onsite

#3290 Fix background of fruitsalad tabs
  esp/esp/themes/theme_data/fruitsalad/less/main.less
Labels: Themes

#3314 Fix filter population with GET parameters
  esp/public/media/scripts/commpanel.js
Labels: UserSearchController

#3273 Allow for custom forms to be edited (+ misc custom form fixes)
  esp/esp/customforms/DynamicForm.py
  esp/esp/customforms/DynamicModel.py
  esp/esp/customforms/linkfields.py
  esp/esp/customforms/urls.py
  esp/esp/customforms/views.py
  esp/esp/program/modules/handlers/customformmodule.py
  esp/esp/users/models/__init__.py
  esp/public/media/default_styles/customforms-responses.css
  esp/public/media/default_styles/customforms-style.css
  esp/public/media/scripts/custom_form.js
  esp/templates/customforms/index.html
  esp/templates/customforms/landing.html
  esp/templates/customforms/view_results.html
Labels: CustomForms, UserInterface

#3320 Always show moderating/teaching sections, regardless of subject matching
  esp/public/media/default_styles/scheduling.css
Labels: AJAX Scheduler, Moderators

#3317 Program settings fixes
  esp/esp/program/forms.py
  esp/esp/program/modules/handlers/admincore.py
  esp/esp/program/modules/handlers/classchangerequestmodule.py
  esp/esp/program/modules/migrations/0028_auto_20210518_0923.py
  esp/esp/program/views.py
  esp/esp/themes/theme_data/bigpicture/less/main.less
Labels: Program Modules, Themes

#3318 Fix moderator forms on admin coteachers page
  esp/public/media/scripts/program/modules/teacherclassregmodule.js
  esp/templates/program/modules/adminclass/coteachers.html
Labels: Forms, Moderators

#3120 Docs for Stable Release 13
  docs/admin/releases/13/README.rst
  docs/admin/releases/README.rst
Labels: Documentation, Work in progress
