Repository learning-unlimited/ESP-Website, pull requests merged in 2021-01, with the labels that each got.

#3149 Add international option to states
  esp/esp/users/forms/__init__.py
  esp/esp/users/forms/user_profile.py
  esp/esp/users/migrations/0022_auto_20201104_1917.py
  esp/esp/users/migrations/0023_contactinfo_address_country.py
  esp/esp/users/models/__init__.py
  esp/templates/users/profile.html
  esp/templates/users/profiles/emergencycontact.html
  esp/templates/users/profiles/usercontact.html
Labels: Profiles

#3190 Sorttable upgrade
  esp/public/media/scripts/program/modules/adminclass.js
  esp/public/media/scripts/program/modules/attendance.js
  esp/public/media/scripts/sorttable.js
  esp/templates/cache/view_all.html
  esp/templates/program/modules/adminclass/listclasses.html
  esp/templates/program/modules/programprintables/classes_flags.html
  esp/templates/program/modules/programprintables/classes_list.html
  esp/templates/program/modules/programprintables/classes_popularity.html
  esp/templates/program/modules/programprintables/roomlist.html
  esp/templates/program/modules/programprintables/sections_list.html
  esp/templates/program/modules/programprintables/teacherlist.html
  esp/templates/program/modules/teacherclassregmodule/section_attendance.html
  esp/templates/program/modules/teacheronsite/sectionroster.html
  esp/templates/users/userview_search.html
Labels: Javascript, UserInterface

#3193 Fullwidth fix
  esp/public/media/default_styles/survey_manage.css
  esp/public/media/theme_editor/less/main.less
  esp/templates/program/modules/studentregtwophase/studentregtwophase.html
  esp/templates/program/modules/teacherpreviewmodule/preview.html
Labels: UserInterface

#3194 Combine all cancel section forms into one
  esp/esp/program/modules/forms/management.py
  esp/esp/program/modules/handlers/adminclass.py
  esp/templates/program/modules/adminclass/manageclass.html
Labels: Forms, Teacher Registration

#3197 Fix plural names and capitalization
  esp/esp/application/models.py
  esp/esp/dbmail/models.py
  esp/esp/program/models/__init__.py
  esp/esp/program/models/class_.py
  esp/esp/users/models/__init__.py
  esp/esp/web/models.py
Labels: Admin Panel
