Repository learning-unlimited/ESP-Website, pull requests merged in 2021-04, with the labels that each got.

#3253 Included admin_bar.css
  esp/esp/themes/theme_data/floaty/less/adminbar.less
  esp/esp/themes/theme_data/fruitsalad/less/adminbar.less
  esp/esp/themes/theme_data/fruitsalad/templates/main.html
Labels: Themes, UserInterface

#3260 Fix bug for ranks beyond first choice
  esp/esp/program/controllers/lottery.py
Labels: Student Registration, Two Phase Lottery UI

#3254 Centers Bigpicture
  esp/esp/themes/theme_data/bigpicture/less/main.less
Labels: Themes, UserInterface

#3263 Fix caching for dashboard stats
  esp/esp/program/migrations/0022_auto_20210426_0906.py
  esp/esp/program/models/__init__.py
  esp/esp/program/models/class_.py
  esp/esp/program/modules/handlers/jsondatamodule.py
  esp/esp/program/modules/handlers/studentacknowledgementmodule.py
  esp/public/media/scripts/program/modules/adminvitals.js
  esp/templates/program/modules/adminvitals/vitals.html
Labels: Caching, Dashboard

#3272 Add option to not set Student/All permission for student lottery winners
  esp/esp/program/modules/handlers/studentregphasezeromanage.py
  esp/templates/program/modules/studentregphasezero/status.html
Labels: Forms, Student Registration

#3240 Teacher barcode check-in
  esp/esp/program/modules/handlers/teachercheckinmodule.py
  esp/public/media/default_styles/missingteachers.css
  esp/public/media/default_styles/teacherschedule.css
  esp/public/media/scripts/onsite/teacher_checkin.js
  esp/templates/program/modules/programprintables/teacherschedule.html
  esp/templates/program/modules/teachercheckinmodule/missingteachers.html
Labels: Onsite, Teacher Registration

#3264 Fix nametag USC combo selector
  esp/esp/program/modules/handlers/commmodule.py
  esp/esp/program/modules/handlers/grouptextmodule.py
  esp/esp/program/modules/handlers/listgenmodule.py
  esp/esp/program/modules/handlers/nametagmodule.py
  esp/esp/users/controllers/usersearch.py
  esp/public/media/scripts/commpanel.js
  esp/templates/users/usersearch/filter_accordion.html
  esp/templates/users/usersearch/list_selector.html
Labels: Javascript, UserInterface, UserSearchController

#3266 Sort classes and moderators in scheduler
  esp/public/media/default_styles/scheduling.css
  esp/public/media/scripts/ajaxschedulingmodule/ESP/Moderators.js
  esp/public/media/scripts/ajaxschedulingmodule/ESP/Sections.js
  esp/templates/program/modules/ajaxschedulingmodule/ajax_scheduling.html
Labels: AJAX Scheduler, Javascript, UserInterface

#3270 Fix sections with floating resources in scheduler
  esp/esp/program/modules/handlers/jsondatamodule.py
  esp/public/media/scripts/ajaxschedulingmodule/ESP/Matrix.js
  esp/public/media/scripts/ajaxschedulingmodule/ESP/Sections.js
Labels: AJAX Scheduler, Resources
