Repository learning-unlimited/ESP-Website, pull requests merged in 2021-02, with the labels that each got.

#3201 Cache survey results
  esp/esp/survey/templatetags/survey.py
  esp/esp/survey/views.py
  esp/esp/utils/inclusion_tags.py
  esp/templates/inclusion/survey/responses_for_program.html
  esp/templates/inclusion/survey/responses_for_program.tex
  esp/templates/inclusion/survey/responses_for_section.html
  esp/templates/inclusion/survey/responses_for_section.tex
  esp/templates/program/modules/teacheronsite/survey.html
  esp/templates/survey/review.html
  esp/templates/survey/review.tex
Labels: Caching, Surveys

#3209 Fix plain redirect subjects
  esp/mailgates/mailgate.py
Labels: Email (mailman), Error

#2248 Update jQuery to 1.12.4, use cdnjs
  esp/esp/django_settings.py
  esp/esp/program/modules/handlers/onsiteclasslist.py
  esp/public/media/default_styles/jquery-ui/ui.jqgrid.css
  esp/public/media/scripts/custom_form.js
  esp/public/media/scripts/jquery-ui-grid/grid.locale-en.js
  esp/public/media/scripts/jquery-ui-grid/jquery.jqGrid.min.js
  esp/public/media/scripts/onsite/ajax_status.js
  esp/public/media/scripts/program/modules/admissionsdashboard.js
  esp/public/media/theme_editor/spectrum.js
  esp/templates/admin/base_site.html
  esp/templates/customforms/success.html
  esp/templates/customforms/view_results.html
  esp/templates/elements/html
  esp/templates/program/modules/admissionsdashboard/admissions.html
  esp/templates/program/modules/ajaxschedulingmodule/ajax_scheduling.html
  esp/templates/program/modules/onsiteclasslist/ajax_status.html
  esp/templates/program/modules/onsiteclasslist/classlist.html
  esp/templates/program/modules/onsiteprintschedules/studentschedulesrenderer.html
  esp/templates/program/modules/studentonsite/catalog.html
  esp/templates/program/modules/studentonsite/webapp.html
  esp/templates/program/modules/teacherclassregmodule/listclasses.html
  esp/templates/program/modules/teacheronsite/sectionroster.html
  esp/templates/program/modules/teacheronsite/webapp.html
  esp/templates/themes/editor.html
Labels: Javascript, UserInterface, dependencies

#3204 Add more multiprogram statistics queries
  esp/esp/program/forms.py
  esp/esp/program/modules/handlers/bigboardmodule.py
  esp/esp/program/modules/handlers/teacherbigboardmodule.py
  esp/esp/program/statistics.py
  esp/esp/program/views.py
  esp/public/media/default_styles/statistics.css
  esp/templates/program/modules/bigboardmodule/bigboard_graph.html
  esp/templates/program/statistics.html
  esp/templates/program/statistics/class_reg.html
  esp/templates/program/statistics/demographics.html
  esp/templates/program/statistics/form.html
  esp/templates/program/statistics/heardabout.html
  esp/templates/program/statistics/hours.html
  esp/templates/program/statistics/repeats.html
  esp/templates/program/statistics/schools.html
  esp/templates/program/statistics/startreg.html
  esp/templates/program/statistics/student_reg.html
  esp/templates/program/statistics/teacher_reg.html
  esp/templates/program/statistics/zip_codes.html
Labels: Feature Request, Student Registration, Teacher Registration, UserInterface

#3212 Use custom render function to render error pages
  esp/esp/middleware/esperrormiddleware.py
Labels: UserInterface

#3214 Fix top margin of catalog sorted by category
  esp/templates/program/modules/programprintables/catalog_category.tex
Labels: Printables

#3215 Update remaining bootstrap stuff to 2.3.2
  esp/templates/elements/html
Labels: Javascript, UserInterface, dependencies

#3205 Hyperlink to users in a few more places
  esp/esp/program/modules/handlers/teachereventsmodule.py
  esp/public/media/scripts/ajaxschedulingmodule/ESP/SectionInfoPanel.js
  esp/templates/program/modules/finaidapprovemodule/finaid.html
  esp/templates/program/modules/teachereventsmodule/event_row.html
Labels: UserInterface

#3225 Upgrade jquery-ui for grid based class changes
  esp/public/media/default_styles/onsite_ajax_status.css
  esp/public/media/scripts/onsite/ajax_status.js
  esp/templates/program/modules/onsiteclasslist/ajax_status.html
Labels: Javascript, Onsite, Student Registration, dependencies
