Repository learning-unlimited/ESP-Website, pull requests merged in 2022-10, with the labels that each got.

#3560 Logo replacement interface
  esp/esp/themes/theme_data/circles/images/splogo.gif
  esp/esp/themes/theme_data/circles/templates/main.html
  esp/esp/themes/theme_data/floaty/images/logo.png
  esp/esp/themes/theme_data/floaty/templates/main.html
  esp/esp/themes/urls.py
  esp/esp/themes/views.py
  esp/public/media/default_styles/logos.css
  esp/templates/themes/landing.html
  esp/templates/themes/logos.html
  esp/templates/themes/selector.html
Labels: UserInterface, Themes

#3562 Fix hardcoded fonts
  esp/esp/themes/theme_data/circles/less/main.less
  esp/esp/themes/theme_data/floaty/less/main.less
  esp/esp/themes/theme_data/fruitsalad/less/main.less
Labels: Themes

#3566 Finaid approval page fixes
  esp/templates/program/modules/finaidapprovemodule/finaid.html
Labels: UserInterface, Student Registration, Accounting

#3567 Fix accounting search form
  esp/templates/program/modules/accountingmodule/accounting.html
Labels: Forms, Accounting

#3568 Force browsers to update cached css when theme is changed
  esp/esp/tagdict/__init__.py
  esp/esp/themes/controllers.py
  esp/esp/utils/web.py
  esp/templates/elements/html
Labels: UserInterface, Themes

#3157 Allow partial financial aid when paying by credit card
  esp/esp/accounting/controllers.py
Labels: Accounting
