Repository learning-unlimited/ESP-Website, pull requests merged in 2022-06, with the labels that each got.

#3536 Rename documents
  esp/esp/program/modules/handlers/adminmaterials.py
  esp/esp/program/modules/handlers/teacherclassregmodule.py
  esp/esp/qsdmedia/models.py
  esp/esp/web/forms/fileupload_form.py
  esp/public/media/default_styles/battlescreen.css
  esp/templates/program/modules/adminmaterials/listmaterials.html
  esp/templates/program/modules/teacherclassregmodule/class_docs.html
Labels: Teacher Registration, Forms

#3537 Lunch constraint form fixes
  esp/esp/program/controllers/lunch_constraints.py
  esp/esp/program/modules/forms/admincore.py
  esp/templates/program/modules/admincore/lunch_constraints.html
Labels: Student Registration, Forms

#3535 Fix dashboard stats and better distinguish between "reject" and "cancel"
  esp/esp/program/models/class_.py
  esp/esp/program/modules/forms/management.py
  esp/esp/program/modules/handlers/adminclass.py
  esp/esp/program/modules/handlers/jsondatamodule.py
  esp/esp/program/modules/handlers/teacherclassregmodule.py
  esp/public/media/scripts/program/modules/adminclass.js
  esp/public/media/scripts/program/modules/flag-results-page.js
  esp/public/media/scripts/program/modules/manageclass.js
  esp/templates/program/modules/adminclass/manageclass.html
  esp/templates/program/modules/adminclass/manageclass_class_info.html
  esp/templates/program/modules/classsearchmodule/class_search.html
Labels: UserInterface, Class Search, Dashboard

#3430 Docs for SR14
  docs/admin/program_modules.rst
  docs/admin/releases/14/README.rst
  docs/admin/releases/README.rst
Labels: Documentation, Work in progress
