Repository learning-unlimited/ESP-Website, pull requests merged in 2022-02, with the labels that each got.

#3477 Add module that allows students to get completion certificate
  esp/esp/program/forms.py
  esp/esp/program/modules/handlers/programprintables.py
  esp/esp/program/modules/handlers/studentcertmodule.py
  esp/esp/program/modules/migrations/0038_studentcertmodule.py
  esp/esp/tagdict/__init__.py
  esp/templates/outlines/letter_base.tex
  esp/templates/program/modules/programprintables/completion_certificate.tex
  esp/templates/program/modules/programprintables/courses_inline.tex
  esp/templates/program/modules/programprintables/transcript.tex
Labels: Student Registration, Printables, Program Modules

#3480 Deprecate splash info module
  esp/esp/accounting/controllers.py
  esp/esp/accounting/views.py
  esp/esp/program/admin.py
  esp/esp/program/models/__init__.py
  esp/esp/program/modules/forms/lineitems.py
  esp/esp/program/modules/forms/splashinfo.py
  esp/esp/program/modules/handlers/creditcardmodule_stripe.py
  esp/esp/program/modules/handlers/donationmodule.py
  esp/esp/program/modules/handlers/jsondatamodule.py
  esp/esp/program/modules/handlers/splashinfomodule.py
  esp/esp/program/modules/handlers/studentextracosts.py
  esp/esp/program/modules/migrations/0038_delete_splashinfomodule.py
  esp/esp/program/modules/migrations/0039_studentcertmodule.py
  esp/esp/program/modules/tests/studentreg.py
  esp/esp/program/modules/tests/testallviews.py
  esp/esp/program/setup.py
  esp/esp/program/tests.py
  esp/esp/tagdict/__init__.py
  esp/public/media/scripts/program/modules/adminvitals.js
  esp/templates/program/modules/adminvitals/vitals.html
  esp/templates/program/modules/studentextracosts/extracosts.html
Labels: UserInterface, Student Registration, Old/unused code, Program Modules, Deprecated (discussion), Accounting

#3482 Prevent forms from being submitted twice
  esp/templates/elements/html
Labels: UserInterface, Forms

#2808 Add statistic to dashboard for students who enrolled in past & fix teachers who have taught before
  esp/esp/program/modules/handlers/jsondatamodule.py
  esp/esp/program/modules/handlers/studentclassregmodule.py
  esp/esp/program/modules/handlers/teacherclassregmodule.py
  esp/esp/program/modules/tests/jsondatamodule.py
  esp/esp/program/tests.py
  esp/esp/users/controllers/usersearch.py
  esp/public/media/scripts/commpanel.js
Labels: UserSearchController

#3483 Webapp map and directions changes
  esp/esp/program/models/class_.py
  esp/esp/program/modules/handlers/studentonsite.py
  esp/esp/program/modules/handlers/teacheronsite.py
  esp/esp/tagdict/__init__.py
  esp/templates/program/modules/studentonsite/map.html
  esp/templates/program/modules/studentonsite/schedule.html
  esp/templates/program/modules/studentonsite/webapp.html
  esp/templates/program/modules/teacheronsite/map.html
  esp/templates/program/modules/teacheronsite/schedule.html
  esp/templates/program/modules/teacheronsite/webapp.html
Labels: UserInterface, Webapp, dependencies
