Repository learning-unlimited/ESP-Website, pull requests merged in 2022-05, with the labels that each got.

#3521 Add user interface for DBreceipts
  esp/esp/program/controllers/confirmation.py
  esp/esp/program/modules/forms/admincore.py
  esp/esp/program/modules/handlers/admincore.py
  esp/esp/program/modules/handlers/studentregcore.py
  esp/esp/themes/theme_data/fruitsalad/less/main.less
  esp/templates/program/confemails/41_confemail.txt
  esp/templates/program/confemails/default.txt
  esp/templates/program/modules/admincore/directory.html
  esp/templates/program/modules/admincore/settings.html
  esp/templates/program/modules/studentregcore/mainpage.html
Labels: UserInterface, Student Registration

#3510 Add UI for program modules
  esp/esp/program/modules/handlers/admincore.py
  esp/public/media/default_styles/module_management.css
  esp/public/media/scripts/program/modules/module_management.js
  esp/templates/program/modules/admincore/directory.html
  esp/templates/program/modules/admincore/modules.html
Labels: UserInterface, Program Modules

#3525 Prettify teacher class info
  esp/templates/inclusion/program/class_teacher_list_row.html
Labels: UserInterface, Teacher Registration

#3531 Add interfaces to add and remove students to/from the student lottery
  esp/esp/program/modules/handlers/studentregphasezero.py
  esp/esp/program/modules/handlers/studentregphasezeromanage.py
  esp/esp/users/models/__init__.py
  esp/public/media/scripts/program/modules/studentregphasezero.js
  esp/templates/program/modules/studentregphasezero/status.html
Labels: UserInterface, Student Registration

#3533 Sort custom forms by the programs/courses they are associated with
  esp/esp/customforms/views.py
  esp/public/media/default_styles/customforms-landing.css
  esp/templates/customforms/landing.html
Labels: UserInterface, CustomForms
