Repository learning-unlimited/ESP-Website, pull requests merged in 2023-05, with the labels that each got.

#3608 Self checkin fixes
  esp/esp/program/modules/base.py
  esp/esp/program/modules/handlers/studentclassregmodule.py
  esp/esp/program/modules/handlers/studentonsite.py
  esp/esp/tagdict/__init__.py
  esp/templates/program/modules/studentonsite/schedule.html
  esp/templates/program/modules/studentonsite/selfcheckin.html
Labels: Student Registration, Onsite

#3640 Copy over choosable=2 modules from template programs
  esp/esp/program/modules/handlers/financialaidappmodule.py
  esp/esp/program/views.py
  esp/public/media/scripts/program/modules/modulequestions.js
  esp/templates/program/newprogram.html
Labels: UserInterface, Admin Panel, Program Modules

#3624 Add theme color customizability
  esp/esp/themes/theme_data/bigpicture/less/main.less
  esp/esp/themes/theme_data/bigpicture/less/variables.less
  esp/esp/themes/theme_data/circles/less/main.less
  esp/esp/themes/theme_data/circles/less/variables.less
  esp/esp/themes/theme_data/floaty/less/main.less
  esp/esp/themes/theme_data/fruitsalad/less/main.less
  esp/esp/themes/views.py
  esp/public/media/theme_editor/less/variables.less
  esp/public/media/theme_editor/less/variables_custom.less
  esp/public/media/theme_editor/themes/Default.less
  esp/templates/themes/editor.html
Labels: Themes
