Repository learning-unlimited/ESP-Website, pull requests merged in 2023-06, with the labels that each got.

#3644 Legend for ajax scheduler
  esp/esp/program/modules/handlers/ajaxschedulingmodule.py
  esp/public/media/default_styles/scheduling.css
  esp/public/media/scripts/ajaxschedulingmodule/ESP/Matrix.js
  esp/public/media/scripts/ajaxschedulingmodule/ESP/Scheduler.js
  esp/public/media/scripts/ajaxschedulingmodule/ESP/Sections.js
  esp/public/media/scripts/ajaxschedulingmodule/ESP/Timeslots.js
  esp/templates/program/modules/ajaxschedulingmodule/ajax_scheduling.html
Labels: UserInterface, AJAX Scheduler

#3648 Show any/all tag form errors at the top of the page
  esp/templates/program/modules/admincore/tags.html
Labels: UserInterface, Forms, Tags

#3649 Fix overflowing scheduling checks
  esp/public/media/default_styles/scheduling_checks.css
  esp/public/media/scripts/program/modules/scheduling_checks.jsx
Labels: UserInterface

#3651 Remove deleteclass for teachers
  esp/esp/program/modules/handlers/teacherclassregmodule.py
  esp/esp/program/tests.py
  esp/esp/users/migrations/0034_auto_20230525_2024.py
  esp/esp/users/models/__init__.py
  esp/templates/program/modules/teacherclassregmodule/listclasses.html
Labels: Old/unused code, Teacher Registration

#3652 Remove use_grade_range_exceptions from the SCRMI settings form
  esp/esp/program/modules/forms/admincore.py
  esp/esp/program/modules/migrations/0041_auto_20230525_2043.py
  esp/esp/program/modules/module_ext.py
Labels: Student Registration, Admin Panel, Two Phase Lottery UI

#3650 Fix "import class" text
  esp/templates/program/modules/teacherclassregmodule/listclasses.html
Labels: UserInterface

#3645 Add partition name handling to dump dev DB function while upgrading VM
  docs/dev/vagrant.rst
  fabfile.py
Labels: Development

#3647 Lineitems printable
  esp/esp/program/modules/handlers/programprintables.py
  esp/esp/program/modules/handlers/studentextracosts.py
  esp/esp/program/templatetags/line_item_option.py
  esp/templates/program/modules/programprintables/options.html
  esp/templates/program/modules/programprintables/paid_list.html
  esp/templates/program/modules/programprintables/paid_list_filter.html
Labels: Printables

#3633 Docs for SR15
  docs/admin/releases/15/README.rst
  docs/admin/releases/README.rst
Labels: Documentation, Work in progress
