Repository learning-unlimited/ESP-Website, pull requests merged in 2023-09, with the labels that each got.

#3677 Add ability to unassign moderators from unscheduled sections
  esp/public/media/default_styles/scheduling.css
  esp/public/media/scripts/ajaxschedulingmodule/ESP/Moderators.js
  esp/public/media/scripts/ajaxschedulingmodule/ESP/Scheduler.js
  esp/public/media/scripts/ajaxschedulingmodule/ESP/SectionInfoPanel.js
  esp/templates/program/modules/ajaxschedulingmodule/ajax_scheduling.html
Labels: AJAX Scheduler, Moderators

#3673 Increase customizability of fruitsalad theme
  esp/esp/themes/theme_data/fruitsalad/less/main.less
  esp/public/media/theme_editor/less/variables.less
  esp/public/media/theme_editor/less/variables_custom.less
  esp/templates/themes/editor.html
Labels: Themes

#3681 Fix selectmenus on logo picker page
  esp/esp/django_settings.py
  esp/templates/themes/logos.html
Labels: UserInterface, Themes

#3683 Logo versions
  esp/esp/tagdict/__init__.py
  esp/esp/themes/theme_data/bigpicture/less/main.less
  esp/esp/themes/theme_data/bigpicture/templates/main.html
  esp/esp/themes/theme_data/circles/templates/main.html
  esp/esp/themes/theme_data/floaty/templates/main.html
  esp/esp/themes/theme_data/fruitsalad/templates/bubblesfront.html
  esp/esp/themes/theme_data/fruitsalad/templates/main.html
  esp/esp/themes/views.py
  esp/esp/utils/web.py
  esp/public/media/default_images/favicon.ico
  esp/templates/elements/html
  esp/templates/themes/logos.html
Labels: UserInterface, Caching, Themes

#3678 Add and fix moderator scheduling checks
  esp/esp/program/modules/handlers/schedulingcheckmodule.py
  esp/public/media/scripts/ajaxschedulingmodule/ESP/Cell.js
  esp/templates/program/modules/ajaxschedulingmodule/ajax_scheduling.html
Labels: AJAX Scheduler, Moderators

#3684 Fix receipt template loading
  esp/esp/program/modules/forms/admincore.py
Labels: Error

#3685 Set static redirects when conducting admin class functions
  esp/esp/program/modules/handlers/adminclass.py
Labels: Teacher Registration, Dashboard
