Repository learning-unlimited/ESP-Website, pull requests merged in 2024-12, with the labels that each got.

#3770 Add privacy policy to left header in bigpicture
  esp/esp/themes/theme_data/bigpicture/templates/main.html
Labels: Themes

#3759 Clean up TextOfEmail message texts
  esp/esp/dbmail/cronmail.py
  esp/esp/dbmail/migrations/0010_textofemail_messagerequest.py
  esp/esp/dbmail/models.py
Labels: Email (built-in)

#3754 make student line items show up in program modules list
  esp/esp/program/forms.py
  esp/esp/program/modules/handlers/lineitemsmodule.py
Labels: Program Modules
