Repository learning-unlimited/ESP-Website, pull requests merged in 2024-04, with the labels that each got.

#3742 Center fruitsalad logo
  esp/esp/themes/theme_data/fruitsalad/less/main.less
Labels: Themes

#3734 Fix extracosts form when there are no extra costs
  esp/public/media/scripts/program/modules/extracosts.js
  esp/templates/program/modules/studentextracosts/extracosts.html
Labels: Student Registration, Forms

#3743 Add ability to reorder nav structure and contact links
  esp/esp/utils/widgets.py
Labels: UserInterface, Themes

#3748 Fix profile form when numbers are used for school names
  esp/esp/db/forms.py
  esp/esp/users/models/__init__.py
Labels: Student Registration, Forms

#3751 Update transfers when program admission cost is changed
  esp/esp/program/modules/forms/admincore.py
Labels: Student Registration, Accounting

#3737 Clean up UI for checking for duplicate emails during account creation
  esp/esp/tagdict/__init__.py
  esp/esp/users/forms/user_reg.py
  esp/esp/users/tests.py
  esp/esp/users/views/registration.py
  esp/templates/registration/newuser_phase1.html
Labels: UserInterface

#3706 Make registration receipt prettier
  esp/esp/program/modules/forms/admincore.py
  esp/esp/program/modules/handlers/studentregcore.py
  esp/esp/users/models/__init__.py
  esp/templates/program/receipts/default.html
  esp/templates/program/receipts/default_pretext.html
Labels: Student Registration, Themes
