Repository learning-unlimited/ESP-Website, pull requests merged in 2024-03, with the labels that each got.

#3719 Improve theme customizability, increase relevancy of theme editor to current theme
  esp/esp/themes/theme_data/bigpicture/less/main.less
  esp/esp/themes/theme_data/floaty/less/main.less
  esp/esp/themes/theme_data/floaty/less/variables.less
  esp/esp/themes/theme_data/fruitsalad/less/main.less
  esp/public/media/theme_editor/less/buttons.less
  esp/public/media/theme_editor/less/mixins.less
  esp/public/media/theme_editor/less/variables.less
  esp/templates/themes/editor.html
Labels: Themes

#3724 Fix get_full_path() cache dependencies
  esp/esp/program/modules/base.py
Labels: Caching

#3721 Unsubscribe links and domain-only "From" email addresses
  esp/esp/dbmail/admin.py
  esp/esp/dbmail/migrations/0006_textofemail_user.py
  esp/esp/dbmail/models.py
  esp/esp/local_settings.py.travis
  esp/esp/program/forms.py
  esp/esp/program/migrations/0027_auto_20240220_2124.py
  esp/esp/program/models/__init__.py
  esp/esp/program/modules/forms/admincore.py
  esp/esp/program/modules/handlers/commmodule.py
  esp/esp/program/modules/handlers/teachereventsmodule.py
  esp/esp/program/modules/tests/commpanel.py
  esp/esp/program/tests.py
  esp/esp/users/models/__init__.py
  esp/esp/users/urls.py
  esp/esp/users/views/__init__.py
  esp/esp/web/templatetags/main.py
  esp/templates/program/modules/commmodule/step2.html
  esp/templates/registration/login.html
  esp/templates/users/unsubscribe.html
Labels: Email (built-in)

#3725 Remove the mailing labels module
  docs/admin/program_modules.rst
  esp/esp/program/modules/forms/mailinglabels_banzips.py
  esp/esp/program/modules/forms/mailinglabels_schools.py
  esp/esp/program/modules/handlers/mailinglabels.py
  esp/esp/program/modules/migrations/0042_delete_mailinglabels.py
  esp/esp/users/admin.py
  esp/esp/users/forms/user_profile.py
  esp/esp/users/migrations/0035_remove_contactinfo_address_postal.py
  esp/esp/users/models/__init__.py
  esp/esp/web/views/myesp.py
  esp/requirements.txt
  esp/templates/program/modules/mailinglabels/mailinglabel_badzips.html
  esp/templates/program/modules/mailinglabels/mailinglabel_index.html
  esp/templates/program/modules/mailinglabels/schools_confirm.html
  esp/templates/program/modules/mailinglabels/selectschools.html
Labels: Old/unused code, Program Modules

#3726 Fix "Reset Color" buttons for non-theme-specific variables
  esp/esp/themes/controllers.py
  esp/templates/themes/editor.html
Labels: UserInterface, Themes

#3731 Fix how we check for potential redirect programs
  esp/esp/users/models/__init__.py
  esp/esp/web/views/main.py
Labels: Forms, Permissions

#3732 Only show "Remove Variable" buttons for optional variables
  esp/public/media/theme_editor/theme_editor.js
Labels: Themes

#3733 Fix the highlighting of the moderator directory cell
  esp/public/media/scripts/ajaxschedulingmodule/ESP/Moderators.js
  esp/public/media/scripts/ajaxschedulingmodule/ESP/Scheduler.js
Labels: AJAX Scheduler

#3736 Sendgrid domain authentication
  docs/dev/email.rst
Labels: Documentation, Email (built-in)

#3738 Modernize color_code CRMI field
  esp/esp/program/modules/migrations/0043_auto_20240321_2023.py
  esp/esp/program/modules/module_ext.py
  esp/esp/program/templatetags/class_render.py
  esp/templates/program/modules/admincore/settings.html
Labels: UserInterface, Forms
