Repository learning-unlimited/ESP-Website, pull requests merged in 2025-08, with the labels that each got.

#3877 Add tag to enable Google Analytics
  esp/esp/tagdict/__init__.py
  esp/templates/elements/html
Labels: Tags

#3879 Droplets docs
  docs/admin/available_themes.rst
  docs/admin/images/themes/droplets.png
Labels: Documentation

#3880 Restore statistics button
  esp/templates/program/manage_programs.html
Labels: UserInterface

#3882 Fixed user delete cascade error
  esp/esp/users/models/__init__.py
Labels: Admin Panel

#3884 Fix bug adding extraneous b characters to volunteer csv download
  esp/esp/program/modules/handlers/volunteermanage.py
Labels: Volunteers

#3887 Reduce width of number column on class_students page
  esp/public/media/default_styles/forms.css
  esp/templates/program/modules/teacherclassregmodule/class_students.html
Labels: UserInterface
