Repository learning-unlimited/ESP-Website, pull requests merged in 2025-10, with the labels that each got.

#3906 Convert class category and flag type settings to checkboxes
  esp/esp/program/forms.py
  esp/esp/program/modules/forms/admincore.py
  esp/public/media/default_styles/admin.css
Labels: UserInterface, Forms

#3905 Added editable textbox to the footer in all themes
  esp/esp/themes/theme_data/barebones/templates/main.html
  esp/esp/themes/theme_data/bigpicture/config_form.py
  esp/esp/themes/theme_data/bigpicture/templates/main.html
  esp/esp/themes/theme_data/circles/config_form.py
  esp/esp/themes/theme_data/circles/templates/main.html
  esp/esp/themes/theme_data/droplets/config_form.py
  esp/esp/themes/theme_data/droplets/less/main.less
  esp/esp/themes/theme_data/droplets/templates/main.html
  esp/esp/themes/theme_data/floaty/config_form.py
  esp/esp/themes/theme_data/floaty/templates/main.html
  esp/esp/themes/theme_data/fruitsalad/config_form.py
  esp/esp/themes/theme_data/fruitsalad/templates/main.html
Labels: UserInterface, Themes

#3920 Sanitize QSD content for class web pages
  esp/esp/qsd/migrations/0004_clean_class_qsds.py
  esp/esp/qsd/templatetags/render_qsd.py
  esp/esp/qsd/views.py
  esp/requirements.txt
  esp/templates/inclusion/qsd/render_qsd_md.html
  esp/templates/qsd/qsd.html
  esp/templates/qsd/qsd_edit.html
Labels: QSD

#3903 Redid appearance of Survey page to match program management landing page style
  esp/templates/program/modules/surveymanagement/main.html
Labels: UserInterface
