Repository learning-unlimited/ESP-Website, pull requests merged in 2025-09, with the labels that each got.

#3889 Make bigpicture more mobile friendly
  esp/esp/themes/theme_data/bigpicture/less/main.less
  esp/esp/themes/theme_data/bigpicture/templates/main.html
  esp/esp/themes/theme_data/bigpicture/templates/sidebar/nav.html
Labels: UserInterface, Themes

#3899 Render emails within `iframe`s
  esp/templates/admin/emails.html
  esp/templates/program/modules/commmodule/preview.html
  esp/templates/public_email.html
Labels: UserInterface, Email (built-in)

#3901 Comm panel default from fix
  esp/esp/program/modules/handlers/commmodule.py
Labels: UserInterface, Program Modules, Email (built-in)

#3898 Refactored schedule check refresh input box to use an id instead of a…
  esp/esp/themes/theme_data/droplets/less/main.less
  esp/public/media/default_styles/scheduling_checks.css
  esp/templates/program/modules/schedulingcheckmodule/output.html
Labels: UserInterface
